---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard";
import StackCard from "@components/StackCard.astro";
import { SITE, SOCIALS } from "@consts";
import CoverCard from "@components/CoverCard";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);

const covers = (await getCollection("covers"))
  .filter((cover) => !cover.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <script is:inline src="/js/bg.js"></script>

  <div class="relative bg-white dark:bg-zinc-900 animate">
    <div class="mx-auto max-w-screen-lg p-5 mt-32 mb-16 text-center">
      <h1 class="font-bold text-5xl text-zinc-900">Hey there, I'm Niel.</h1><br
      />
      <p>
        I'm a freelance <b>graphic designer</b> based in Manila, Philippines. Mostly
        book covers.
      </p>
    </div>
    <div class="mx-auto max-w-screen-lg px-5 space-y-12 mt-8">
      <!-- Covers Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between mx-30">
            <p class="font-semibold text-black dark:text-white">Recent Work</p>
            <a
              href="/blog"
              class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span
                class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All Covers
              </span>
            </a>
          </div>
          <ul class="grid lg:grid-cols-2">
            {
              covers.map((cover) => (
                <li>
                  <CoverCard entry={cover} />
                </li>
              ))
            }
          </ul>
        </div>
      </section>
      <!-- Blog Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">Recent posts</p>
            <a
              href="/blog"
              class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span
                class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All posts
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {
              posts.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </div>
      </section>

      <!-- Project Preview Section -->
      <!-- <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent projects
            </p>
            <a
              href="/projects"
              class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span
                class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All projects
              </span>
            </a>
          </div>
          <ul class="col-span-3 sm:col-span-2">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </div>
      </section> -->

      <!-- Contact Section -->
      <section class="animate">
        <div>
          <p class="font-semibold text-black dark:text-white">Let's Connect</p>
          <p>Reach out to me via email or on social media.</p>
          <div class="grid grid-cols-4 gap-y-2 mt-4 auto-cols-min">
            {
              SOCIALS.map((social) => (
                <>
                  <div class="col-span-1 flex items-center gap-1">
                    <span class="whitespace-nowrap truncate">
                      {social.NAME}
                    </span>
                  </div>
                  <div class="col-span-3 truncate">
                    <a
                      href={social.HREF}
                      target="_blank"
                      class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
                      <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                        {social.TEXT}
                      </span>
                    </a>
                  </div>
                </>
              ))
            }
          </div>
        </div>
      </section>
    </div>
  </div>
</PageLayout>
